<!DOCTYPE html>
<% include header.html %>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <a class="btn btn-link" href="/doctor/add">新增医生</a>
                <input id="input_query" type="text" class="form-control">
                <span class="input-group-btn">
                <button id="query" class="btn btn-success" type="button">查询</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div>
    <legend>医生基本信息</legend>
    <table class="table table-striped" id="table">
        <thead>
        <tr>
            <th>姓名</th>
            <th>职称</th>
            <th>地区</th>
            <th>电话号码</th>
        </tr>
        </thead>
        <tbody id="tbody">
          <% for (var i = 0; i < doctors.length; i++) { %>
              <!-- id = doctors[i]._id;
              name = doctors[i].name;
              prof_title = doctors[i].prof_title;
              city = doctors[i].city;
              telnumber = doctors[i].telnumber; -->
              <tr>
                <td><%= doctors[i].name %></td>
                <td><%= doctors[i].prof_title %></td>
                <td><%= doctors[i].city %></td>
                <td><%= doctors[i].telnumber %></td>
                <td>
                  <a class='btn btn-link' href="<%= '/doctor/show/'+ doctors[i]._id %>">详细</a>
                  <a class='btn btn-link' href="<%= '/doctor/update/'+ doctors[i]._id %>">编辑</a>
                  <a class='btn btn-link' href="<%= '/doctor/delete/'+ doctors[i]._id %>">删除</a>
                </td>
              </tr>
            <% } %>
        </tbody>
    </table>
</div>

<% include footer.html %>
